<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Default Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">

    <link rel="stylesheet" media="screen" th:href="@{/public/css/bootstrap.min.css}">
    <link rel="stylesheet" media="screen" th:href="@{/public/css/main.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" th:src="@{/public/js/jquery.js}" charset="UTF-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" th:src="@{/public/js/bootstrap.min.js}" charset="UTF-8"></script>

</head>
<body>


<div class="modal fade" id="mainModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<script th:inline="javascript">

</script>

</body>
</html>
